@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}
textarea {
  resize: none;
  border: 1px solid #2980b9;
  border-radius: 4px;
  width: 500px;
  height: 100px;
}
.input {
  border: 1px solid #2980b9;
  width: 500px;
  margin: 4px;
  height: 30px;
}
.button {
  border: 1px solid #3498db;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}
#error {
  background-color: #e74c3c;
  border-radius: 4px;
  color: #fff;
  width: 40%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #fff;
}
.answer {
  display: block;
  border-radius: 4px;
  border: 1px solid #3498db;
  width: 40%;
  margin: 4px;
}
.answer:hover {
  color: #ffffff;
  background-color: #3498db;
  cursor: pointer;
}
.voted_for {
  background-color: #2ecc71;
  color: #fff;
  border: 1px solid #2ecc71;
}